<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudTranslator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudTranslator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CloudTranslator.My.MySettings>
            <setting name="winRar" serializeAs="String">
                <value>C:\Program Files\WinRAR\rar.exe</value>
            </setting>
            <setting name="DockLeftPortion" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DockBottomPortion" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>https://pmsalesdemo8.successfactors.com</value>
            </setting>
            <setting name="CompID" serializeAs="String">
                <value>1702SteveShen</value>
            </setting>
            <setting name="Uname" serializeAs="String">
                <value>sfadmin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>riesling</value>
            </setting>
        </CloudTranslator.My.MySettings>
    </userSettings>
    <applicationSettings>
        <CloudTranslator.My.MySettings>
            <setting name="CloudTranslator_Cloud_TR_Service1" serializeAs="String">
                <value>http://10.66.9.51:8013/Service1.asmx</value>
            </setting>
        </CloudTranslator.My.MySettings>
    </applicationSettings>
</configuration>